<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GeoCMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Encoding Filter</filter-name>
    <filter-class>kr.re.etri.upcm.db.CommonEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MemberCheckServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.login.MemberCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCheckServlet</servlet-name>
    <url-pattern>/MemberCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImageListServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.list.GetImageListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageListServlet</servlet-name>
    <url-pattern>/GetImageListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVideoListServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.list.GetVideoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVideoListServlet</servlet-name>
    <url-pattern>/GetVideoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSearchListServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.list.GetSearchListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSearchListServlet</servlet-name>
    <url-pattern>/GetSearchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EncodingProcess</servlet-name>
    <servlet-class>kr.re.etri.upcm.ffmpeg.EncodingProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingProcess</servlet-name>
    <url-pattern>/EncodingProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideoEncodingCheck</servlet-name>
    <servlet-class>kr.re.etri.upcm.ffmpeg.VideoEncodingCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoEncodingCheck</servlet-name>
    <url-pattern>/VideoEncodingCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExifServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.exif.ExifServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExifServlet</servlet-name>
    <url-pattern>/ExifServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.xml.XMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/XMLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAnnotationListServlet</servlet-name>
    <servlet-class>kr.re.etri.upcm.xml.GetAnnotationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnnotationListServlet</servlet-name>
    <url-pattern>/GetAnnotationListServlet</url-pattern>
  </servlet-mapping>
</web-app>